MONGODB_URI=
GOOGLE_GENERATIVE_AI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
GOOGLE_TTS_VOICE=en-US-Neural2-F
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
HELIUS_RPC_URL=
NEXT_PUBLIC_ALCHEMY_RPC_URL=
